/node_modules
/public/build
/public/hot
/public/storage
/public/File_AKDHK
/public/File_BPJSKes
/public/File_BPJSKet
/public/File_Ijazah
/public/File_Keputusan
/public/File_KK
/public/File_KTP
/public/File_Lamaran
/public/File_NPWP
/public/File_Pendidikan
/public/File_Pengalaman
/public/File_Pengangkatan
/public/File_Perjanjian
/public/File_Prestasi
/public/File_SKCK
/public/File_Tabungan
/public/Foto_Profile
/public/images
/storage/*.key
/vendor
.env
.env.backup
.env.production
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.fleet
/.idea
/.vscode
